@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poor+Story&display=swap');
.App {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    font-family: "Poor Story", system-ui;
    text-align: center;
    background-color: rgb(133, 133, 133);
}

#result {
    color: rgb(0, 0, 0);
}

.mainContainer {
    margin: 2%;
    display: flex;
    justify-content: center;
}

.header {
    padding-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: bisque;
    color: rgb(66, 66, 66);
}

.player1 {
    margin: 2%;
    padding: 1%;
    width: 150px;
    height: 120px;
    border-radius: 55px;
    background-color: lightgray;
    color: rgb(253, 84, 84);
}

.computer {
    margin: 2%;
    padding: 1%;
    width: 160px;
    height: 120px;
    border-radius: 55px;
    background-color: lightgray;
    color: rgb(253, 84, 84);
}

.playerWins {
    margin-top: 2%;
    color: black;
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.image {
    padding: 1.5%;
}

@media (min-width: 390px) {
    .App {
        height: 100vh;
    }
}

@media (min-width: 320px) and (max-width: 900px) {
    .App {
        height: 250%;
    }
    .header {
        padding-left: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        background-color: bisque;
        color: rgb(66, 66, 66);
    }
    .player1 {
        margin: 2%;
        margin-bottom: 25%;
        padding-top: 1%;
        padding-bottom: 3%;
        width: 150px;
        height: 120px;
        font-size: 1rem;
        border-radius: 55px;
        background-color: lightgray;
        color: rgb(253, 84, 84);
    }
    .computer {
        margin-top: 2%;
        margin-bottom: 25%;
        padding-top: 1%;
        padding-bottom: 3%;
        width: 160px;
        height: 120px;
        font-size: 1rem;
        border-radius: 55px;
        background-color: lightgray;
        color: rgb(253, 84, 84);
    }
    .image {
        padding-top: 4%;
        padding: 1.5%;
    }
    .rpsimg {
        display: none;
    }
}